// chicken logo
$yellow : #ffd72e;
$darkYellow : #ffbf0b;
$orange : #f36d21;

// grayscale
$black : #000000;
$darkGray : #242423;
$gray : #333533;
$lightGray : #CFDBD5;
$platinum : #E8EDDF;
$white : #FFFFFF;

// validations
$blue : #5995ED;
$green : #B9E28C;
$red : #FB4D3D;

// purplescale
$purpleGrape : #5B507A;
$blueGrape : #5B618A;
$lightBlueGrape : #9EADC8;

// bright colors
$pink : #F00699;
