body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: '1em';
  color: #073B4C;
  background-color: #FFFFFF;
}

input, textarea, button {
  font-family: inherit;
  font-size: inherit;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
